body {
  width: 100%;
  background-color: #262525;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
}
a:hover >img{
  opacity: 0.6;
}
h2 {
  color: black;
}
.container {
  width: 700px;
  display: block;
  margin: 0 auto;
  background-color: white;
}

.sect-title {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
}
.sect-title > div{
  position: absolute;
  top: 190px;
  width: 60%;
  opacity: 0.7;
  background-color: orange;
}
.title{
  font-weight: 800;
  padding-left: 10px;
}
.card-page{
  border-bottom: 1px solid #f3efef;
}
.card-content{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 20px;
  gap: 20px;
}
.card-title {
  font-weight: 500;
}
.card-title:hover{
  color: orange;
}
.card-text{
  color: black;
  font-weight: 300;
}
.card-text:hover{
  color: orange;
}
.card-image{
  border-top: 5px solid orange;
  height: 200px;
}


